img {
    width: 180px;
    vertical-align: middle;
}

#event {
    border-radius: 10px;
    background: rgb(238, 232, 232);
    width: 190px;
    margin: 10px;
    padding: 5px;
    display: inline;
    height: 280px;
    vertical-align: middle;
}

#all-events {
    display: flex;
    float: left;
}
